<div class="row">
  <div class="col-md-12">
  <h2 class="title">New blog post</h2><hr>

  <form class="add-post-form">
    <div class="form-group">
      <label for="post-title">Title:</label>
      <input class="form-input" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div class="form-group">
      <label for="post-content">Content:</label>
      <textarea id="post-content" name="post-content" placeholder="insert blog content here"></textarea>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Post</button>
  </form>
</div>

<script src="/js/add-post.js"></script>